.jumbotron {
    background: #850536;
    height: 200px;
    color: white;
  }

  .display-4 {
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  .lead {
text-align: center;
  }